* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: rgb(71, 255, 255);
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(77, 71, 255);
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 71, 243);
}

#image-div {
    width: 40%;
    height: 100%;
    background-color: red;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}